[submodule "third_party/cmark-gfm"]
	path = third_party/cmark-gfm
	url = https://github.com/github/cmark-gfm
[submodule "third_party/cmark"]
	path = third_party/cmark
	url = https://github.com/commonmark/cmark.git
[submodule "third_party/commonmark-spec"]
	path = third_party/commonmark-spec
	url = https://github.com/commonmark/commonmark-spec.git
